body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, #main-content, footer {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#diagnosis-form {
    background-color: #ecf0f1;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#about-system {
    background-color: #ecf0f1;
    padding: 20px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
